<ion-view view-title="About Us">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
        <h2>About zebpay</h2>
        <p>Version 1.0.80</p>
        <p>Zeb Ventures Pte Ltd 2017</p>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
        <h2>Mail</h2>
        <p>send us an email for any support or feedback</p>
        <p>mail to: support@zebpay.com</p>
      </ion-item>
      <ion-item class=" item-avatar "  type="item-text-wrap" >
        <h2>Contact</h2>
        <p>http://zebpay.com</p> 
       

        <p>1800-121-0474  &nbsp;&nbsp;
          <i class="icon ion-social-facebook"></i>&nbsp;&nbsp;
           
           <i class="icon ion-social-tumblr"></i>&nbsp;&nbsp;
          <i class="icon ion-social-linkedin"></i>&nbsp;&nbsp;
          <i class="icon ion-social-googleplus"></i>&nbsp;&nbsp;
          <i class="icon ion-social-youtube"></i>&nbsp;&nbsp;
          <span class="text-content">
        <span>
            <div class="social-icon-holder">
                <span class="ion-social-twitter social-icon"></span>
            </div>
            <div class="social-icon-holder">
                <span class="ion-social-facebook social-icon"></span>
            </div>
            
        </span>
    </span>
        </p>
      </ion-item>
    <ul class="img-list">
  <li>
    <img src="img/team-member-1.jpg" alt="...">
    <span class="text-content">
        <span>
            <div class="social-icon-holder">
                <span class="ion-social-twitter social-icon"></span>
            </div>
            <div class="social-icon-holder">
                <span class="ion-social-facebook social-icon"></span>
            </div>
            <div class="social-icon-holder">
                <span class="ion-social-dribbble social-icon"></span>
            </div>
            Johnathan Adams
            <p>Developer</p>
        </span>
    </span>
  </li>
</ul>
    </ion-list>
  </ion-content>
</ion-view>
