<ion-view view-title="Account Verification" >

    <ion-pane>
        <ion-tabs class="tabs-striped tabs-top " tabs-swipable>
            <!-- Tab 1 -->
      <ion-tab title="Id Card (PAN)" class=" "  href="">
       
        <ion-nav-view name="tab-tab1">
        <ion-content>
        
        
        
          <div style="padding-left: 10%;padding-right: 10%;padding-top:2%;" >
          <div class="item-image" id="image-container">
              <img  ng-src="{{imgURI}}" alt="Upload Pan Card Image" height="60%;" width="80%;">
            </div>
          </div>

           <div class="list">
        <div class="row"> 
          <div class="col col-50 col-center text-center" style="padding-left: 5%;">
                  <button class="button icon icon-right ion-camera"  ng-click="takePhoto()" style="background: #fff;border:2px solid #4F8EF7;">
                   Camera
                  </button>
          </div>
          <div class="col col-50 col-center text-center" style="padding-right: 5%;">
            <button class="button icon icon-right ion-image" ng-click="choosePhoto()" style="background: #fff;border:2px solid #4F8EF7;">
                  Gallery
            </button>
          </div>
        </div>
    <div class="col col-center text-center" style="padding-left: 5%;padding-right: 5%;">
      <div class="list list-inset" >
        <label class="item item-input">
          <input  type="text" placeholder="Name as per PAN Card">
        </label>
        </div>
        <div class="list list-inset" >
        <label class="item item-input">
          <input  type="text" placeholder="PAN Card Number">
        </label>
        </div>
        <div class="list list-inset" >
        <label class="item item-input">
          <input ng-click="openDatePicker()" ng-model="selectedDate1" type="text" placeholder="Birthdate"> 
        </label>
        
        </div>
        <div class="list list-inset" >
       
        <label class="item item-input item-select">
        <div class="input-label" style="margin-left: 0;">
         Select Gender
        </div>
        <select>
         
          <option selected>Male</option>
          <option>Female</option>
           <option>Others</option>
        </select>
      </label>
        </div>
      <div class="col col-center text-center">
      <button class="button button-positive button-small">
        Submit
      </button>
    </div>
    <div class="col col-center text-center">
      or
    </div>
    <div class="col col-center text-center">
      send to : <a href="">id@zebpay.com</a>
    </div>
    </div>
    
    
    </div>
          </ion-content>
          </ion-nav-view>
        </ion-tab>
            <!-- Tab 2 -->
    <ion-tab title="Bank Details" href="">
        <ion-nav-view name="tab-tab2">
            <ion-content>
       <div class="list">
    
    <div class="col col-center text-center" style="padding-left: 5%;padding-right: 5%;">
      <div class="list list-inset" >
        <label class="item item-input">
          <input  type="text" placeholder="IFSC Code">
        </label>
        </div>
        <div class="list list-inset" >
        <label class="item item-input">
          <input  type="text" placeholder="Bank Name">
        </label>
        </div>
        <div class="list list-inset" >
        <label class="item item-input">
          <input  type="text" placeholder="Branch Name">
        </label>
        </div>
        <div class="list list-inset" >
        <label class="item item-input">
          <input  type="text" placeholder="Account Holder Name">
        </label>
        </div>
        <div class="list list-inset" >
        <label class="item item-input">
          <input  type="text" placeholder="Account Number">
        </label>
        </div>
        <div class="list list-inset" >
        <label class="item item-input">
          <input  type="text" placeholder="Confirm Account Number">
        </label>
        </div>
      <div class="col col-center text-center">
      <button class="button button-positive button-small">
        Submit
      </button>
    </div>
    <div class="col col-center text-center">
      or
    </div>
    <div class="col col-center text-center">
      send to : <a href="">id@zebpay.com</a>
    </div>
    </div>
    
    
    </div>
         
    </ion-content>
      </ion-nav-view>
    </ion-tab>
  </ion-tabs>

    </ion-pane>
</ion-view>