<ion-view view-title="Free Bitcoins">
  <ion-content>
   <div class="list">
    
    <div class="col col-center text-center" style="padding-left: 10%;padding-right: 10%;">
      <div class="list list-inset" >
        <label class="item item-input">
          <input  type="text" ng-model="promodetails.promocode" placeholder="Enter promo code">
        </label>
        </div>
    </div>
    <div class="col col-center text-center">
      <button  class="button button-positive button-small" ng-click="veryPromocode()">
        Verify
      </button>
    </div>
    

<div class="row" style="background-color: #33cd5f;">
  <div class="col  col-offset-10 col-center text-center">Refer your friends and get 0.10% of your friend's bit coins buy or sale amount. your friend will get bit coins worth Rs 100 on their first buy or sell.</div>

</div>
<div class="col col-center text-center" style="background-color: #33cd5f;">
      <button class="button button-positive button-small">
        More
      </button>
</div>
<div class="row" style="background-color: #33cd5f;">
  <div class="col  col-center text-center">Share your referral code  </div>

</div>
<div class="row" style="background-color: #33cd5f;">
  <div class="col   col-center text-center">REF6456456405 </div>

</div>
<div class="col col-center text-center" style="background-color: #33cd5f;">
      <button class="button button-positive button-small" ng-click="sharePromocode()">
        Share
      </button>
</div>
<div class="col col-center text-center" style="background-color: #33cd5f;">

  <i class="icon ion-social-facebook"></i>&nbsp;&nbsp;
           
           <i class="icon ion-social-tumblr"></i>&nbsp;&nbsp;
          <i class="icon ion-social-linkedin"></i>&nbsp;&nbsp;
          <i class="icon ion-social-googleplus"></i>&nbsp;&nbsp;
          <i class="icon ion-social-youtube"></i>&nbsp;&nbsp;</div>
  </div>


  </ion-content>
</ion-view>
