<ion-view view-title="Free Bitcoins">
  <ion-content>
   <div class="list" style="margin-bottom: 0px;">
    
    <div class="col col-center text-center" style="padding-left: 10%;padding-right: 10%;">
      <div class="list list-inset" >
        <label class="item item-input">
          <input  type="text" ng-model="promodetails.promocode" placeholder="Enter promo code">
        </label>
        </div>
    </div>
    <div class="col col-center text-center">
      <!-- <button  class="button button-positive button-small" ng-click="veryPromocode()">
        Verify
      </button> -->
      
      <button class="button icon-right icon ion-checkmark-circled button-positive" ng-click="veryPromocode()">Verify</button>
    </div>
</div>
    <div class="profile col col-center text-center" >
            <img class="profile-picture" ng-src="img/bitcoinimage.jpg" height="100" width="100" />
     </div>
<div  style="margin-top: -70px;background-color: #387ef5; height: 70px;" > </div>

<div class="row" style="background-color: #387ef5; ">
  <div class="col  col-offset-10 col-center text-center">Refer your friends and get 0.10% of your friend's bit coins buy or sale amount. your friend will get bit coins worth Rs 100 on their first buy or sell.</div>

</div>
<div class="col col-center text-center" style="background-color: #387ef5; ">
      <button class="button icon-right icon ion-more button-positive button-small">
        More
      </button>
</div>
<div class="row" style="background-color: #387ef5; ">
  <div class="col  col-center text-center">Share your referral code  </div>

</div>
<div class="row" style="background-color: #387ef5; ">
  <div class="col   col-center text-center">REF6456456405 </div>

</div>
<div class="col col-center text-center" style="background-color: #387ef5; ">
      <button class="button icon-right icon ion-share button-positive" ng-click="sharePromocode()">
        Share 
      </button>
</div>
<div class="col col-center text-center" style="background-color: #387ef5; ">

  <a class="icon-circle icon-circle-outline icon-circle-small button-positive" style="border: 2px solid rgb(0, 161, 225) !important;">
            <i class="icon ion-social-facebook"></i>
  </a>&nbsp;&nbsp;
  <a class="icon-circle icon-circle-outline icon-circle-small" style="border: 2px solid rgb(0, 161, 225) !important;">
            <i class="icon ion-social-tumblr"></i>
  </a>&nbsp;&nbsp;
  <a class="icon-circle icon-circle-outline icon-circle-small" style="border: 2px solid rgb(0, 161, 225) !important;">
            <i class="icon ion-social-linkedin"></i>
  </a>&nbsp;&nbsp;
  <a class="icon-circle icon-circle-outline icon-circle-small" style="border: 2px solid rgb(0, 161, 225) !important;">
            <i class="icon ion-social-googleplus"></i>
  </a>&nbsp;&nbsp;
  <!-- 
  <i class="icon ion-social-facebook"></i>&nbsp;&nbsp;
           
           <i class="icon ion-social-tumblr"></i>&nbsp;&nbsp;
          <i class="icon ion-social-linkedin"></i>&nbsp;&nbsp;
          <i class="icon ion-social-googleplus"></i>&nbsp;&nbsp;
          <i class="icon ion-social-youtube"></i>&nbsp;&nbsp; -->
  </div>
  


  </ion-content>
</ion-view>
