<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-profile" ng-click="test()">
      <div class="profile">
          <img class="profile-picture" src="http://ionicframework.com/img/docs/mcfly.jpg" />
          <h5 class="name">Arjun</h5><i class="icon ion-edit" style="text-align: right;float: right;" ></i>
          <h10 class="name">943772088</h10>
      </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/mybitcoinaddress">
         <i class="icon ion-social-bitcoin-outline"></i> My address
        </ion-item>
        <ion-item menu-close href="#/app/accountverification">
         <i class="icon ion-key"></i> Verification
        </ion-item>
        <ion-item menu-close href="#/app/accountstatements">
         <i class="icon ion-document-text"></i> Statements
        </ion-item>
        <ion-item menu-close href="#/app/ratechart">
        <i class="icon ion-stats-bars"></i>  Rate chart
        </ion-item>
        <ion-item menu-close href="#/app/freebitcoins">
        <i class="icon ion-social-bitcoin"></i>  Free bitcoins
        </ion-item>
        <ion-item menu-close href="#/app/settings">
         <i class="icon ion-android-settings"></i> Settings
        </ion-item>
        <ion-item menu-close href="">
         <i class="icon ion-help"></i> Quick help
        </ion-item>
        <ion-item menu-close href="#/app/support">
         <i class="icon ion-wrench"></i> Support
        </ion-item>
        <ion-item menu-close href="#/app/aboutus">
         <i class="icon ion-information"></i> About us
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
