
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">My Tickets</h1>
          <button class="button button-clear button-primary" ng-click="closeModalMyTicketslist()">Cancel</button>
        </ion-header-bar>
        <ion-content >
          <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
        <h2>Tell me procedure for how to buy BTC.</h2>
        
        <p>03 March 2017</p>
      </ion-item>
    </ion-list>

        </ion-content>
      </ion-modal-view>



