
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Are you happy with our app?</h1>
          <button class="button button-clear button-primary" ng-click="closeModalRateApp()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
       
     <div class="list">

  <a class="item item-icon-left" href="#">
    Yes, rate our app
    Check mail
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    No, send feedback
  </a>

  <a class="item item-icon-left" href="#">
   Don't ask me again 
  </a>
</div>
        </ion-content>
      </ion-modal-view>



