
      <ion-view title="arjun">
        <ion-content>
          <div class="profile">
            <img class="profile-picture" src="http://ionicframework.com/img/docs/mcfly.jpg" />
          </div>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Name</span>
              <input type="text" ng-model="user.username" >
            </label>
            <label class="item item-input">
              <span class="input-label">MailId</span>
              <input type="email" ng-model="user.emailId">
            </label>
            <label class="item item-input">
              <span class="input-label">Balance</span>
              <input type="text" ng-model="user.balance">
            </label>
          </div>
          <div class="padding">
            <button nav-clear class="button button-block button-positive" ng-click="LogIn(user)">
              Save
            </button>
          </div>
        </ion-content>
      </ion-view>
