<ion-view view-title="Rs Withdraw">
  <ion-content>
    <div class="row" >
      <div class="col col-center text-center colline">
        <h2 >{{currentuserbalance}} Rs.</h2>
        <h5 >Pending {{currentuserpendingbalance}} Rs.</h5>
      </div>
    </div>
   <div class="list">
    
    <div class="col col-center text-center" style="padding-left: 10%;padding-right: 10%;">
      <div class="list list-inset" >
        <label class="item item-input">
          <input  type="text" placeholder="Enter Amount" ng-model="withdraw.amount">
        </label>
      </div>
    </div>
    <div class="col col-center text-center">
      <h5 >10 Rs will be charged on every withdraw transaction</h5>
      <h5 >Pay to bank account xxxx9877</h5>
      <button class="button button-positive button-small" ng-click="doWithdraw()">
        withdraw
      </button>
    </div>
  </div>
  </ion-content>
</ion-view>
