<ion-view view-title="Rs Account">
 <ion-content >
	    <div class="row" >
		  <div class="col col-center text-center">
		    <h2 >{{currentuserbalance}} Rs.</h2>
		    <h5 >Pending {{currentuserpendingbalance}} Rs.</h5>
		  </div>
		</div>
		<div class = "row " style="background-color: #33cd5f">
		   <div class = "col col-5 col-center text-center"></div>
		   <div class = "col col-35 col-center text-center" ng-click="sendToDeposite()" style="cursor: pointer;"><i class="icon ion-bag"></i>Deposite</div>
		    <div class = "col col-10 col-center text-center">|</div>
		   <div class = "col col-35 col-center text-center" ng-click="sendToWithdraw()" style="cursor: pointer;"><i class="icon ion-bag"></i>Withdraw</div>
		   <div class = "col col-5 col-center text-center"></div>
		 </div>
 </ion-content>
</ion-view>
