<ion-view view-title="Buy Vouchers">
 <ion-content >
	    
		
	<div class="col " >
        <div class="list list-inset col-center text-center" >
          <label class="item item-input">
            <input  type="text" ng-model="key" placeholder="Seach Vouchers">
          </label>
        </div>
		<div class="card" ng-repeat="vourcher in vourcherData | filter: key">
		  <div class="item item-text-wrap">
		    <a class="item item-avatar" href="#">
		      <img ng-src="{{vourcher.voucherImageUrl}}" alt="ad">
		     <p style="float: right;">{{vourcher.voucherRupees}}Rs.({{vourcher.voucherOff}}%off)</p> <h2>{{vourcher.voucherName}}</h2> 
		     
		      <p >in stock</p>
		    </a>
		  </div>
		</div>
		<!-- <div class="card">
		  <div class="item item-text-wrap">
		    <a class="item item-avatar" href="#">
		      <img src="img/Amazon-icon.png" alt="ad">
		     <p style="float: right;">1,00Rs.(3%off)</p> <h2>Amazon Vouchers</h2> 
		     
		      <p >in stock</p>
		    </a>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
		    <a class="item item-avatar" href="#">
		      <img src="img/Amazon-icon.png" alt="ad">
		     <p style="float: right;">5,000Rs.(3%off)</p> <h2>Amazon Vouchers</h2> 
		     
		      <p >in stock</p>
		    </a>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
		    <a class="item item-avatar" href="#">
		      <img src="img/Amazon-icon.png" alt="ad">
		     <p style="float: right;">10,000Rs.(3%off)</p> <h2>Amazon Vouchers</h2> 
		     
		      <p >in stock</p>
		    </a>
		  </div>
		</div>
 -->

    </div>
 </ion-content>
</ion-view>
