

      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">My Tickets</h1>
          <button class="button button-clear button-primary" ng-click="closeModalMyTicketslist()">Cancel</button>
        </ion-header-bar>
        <ion-content >
         
            
           <div class="row">

  <div class="col col-50" style="float: right;">
      <div class="card"  style="border-radius: 5px;height: 100px;">
      <div class="item item-text-wrap" style="">
        adsfasdf
      </div>
    </div>    
  </div>
  <div class="col col-50" style="float: left;">
    <div class="card"  style="border-radius: 5px;height: 100px;">
      <div class="item item-text-wrap" style="">
        adsfasdf
      </div>
    </div>
  </div>
 
</div> 
        </ion-content>
      </ion-modal-view>