<ion-view view-title="Rs Deposit Invoice">
  <ion-content>

  <div class="list card">

  <a href="" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Arjun Mishra<br>919867868776
  </a>
  </div>
<div class="list">
   <label class="item item-input item-stacked-label">
   <span class="input-label">Bank Name </span>
   <input type="text" placeholder="Bank of India">
   </label>

   <label class="item item-input item-stacked-label">
   <span class="input-label">Account Holder Name</span>
   <input type="text" placeholder="Zeb It Service Private Limited">
   </label>

   <label class="item item-input item-stacked-label">
   <span class="input-label">Account Number</span>
   <input type="text" placeholder="06876876887444">
   </label>

   <label class="item item-input item-stacked-label">
   <span class="input-label">IFSC Code</span>
   <input type="text" placeholder="ICICI0099999">
   </label>
</div>
   <div class="list">
    
    
    <div class="col col-center text-center">
      
      <button class="button button-positive button-small" ng-click="openModalDepositeRequest()">
        Share 
      </button>
      <button class="button button-positive button-small" ng-click="openModalDepositeRequest()">
        Copy
      </button>
      <button class="button button-positive button-small" ng-click="openModalDepositeRequest()">
        Close
      </button>
    </div>
    
  </div>


  </ion-content>
</ion-view>
