<ion-view view-title="Enter Amount">
 <ion-content >
	    <div class="col col-center text-center" ng-click="redirectToRechargeMobile()" >
		    <a class="icon-circle icon-circle-outline icon-circle-large" style="color: #33cd5f !important">
	          <i class="ion-iphone"></i>
	        </a>
	        	<br>
	       dth
	       <br>{{dth}}
	       </div>

        <div class="col col-center text-center" style="">
           {{dth.number}}
      </div>
      <div class="col col-center text-center" style="">
           {{dth.operator}}
      </div>
<div class="list" style="padding-left: 20%; padding-right: 20%;">
   <label class="item item-input" style="font-size: 14px;border-width: 0px;">
   <input type="text" placeholder=" amount" ng-model="dth.amount" maxlength="10" style="border-bottom: 1px solid ;">
   </label>
 </div>

 </ion-content>
<div class="bar bar-footer bar-positive footer-button col col-center text-center">
        <a class="button button-full button-clear button-icon text-center" href="#/app/rechargedthrecharge" style="margin-top: 0px;">
           Next<i class="icon  ion-chevron-right"></i>
        </a>
</div>
</ion-view>
