<ion-view view-title="Mobile Recharge">
 <ion-content >
	     <div class="row" >
		  <div class="col col-center text-center" ng-click="redirectToRechargeMobile()" >
		    <a class="icon-circle  icon-circle-outline" style="color: #33cd5f !important">
	          <i class="ion-iphone"></i>
	        </a>
	        	<br>
	       Mobile
		  </div>
		  <div class="col col-center text-center"  ng-click="redirectToRechargeDth()">
		    <a class="icon-circle icon-circle-outline" style="color: #33cd5f !important">
	          <i class="ion-ipad"></i>
	        </a>
	       <br>
	       dth 
		  </div>
		  <div class="col col-center text-center">
		    <a class="icon-circle icon-circle-outline" ng-click="redirectToRechargeDatacard()"  style="color: #33cd5f !important">
	          <i class="ion-usb"></i>
	        </a>
	        <br>
	       data card
		  </div>
		</div>
        <div class="item item-divider col-center text-center" >
		    comming soon
		</div>
		<div class="row" >
		  <div class="col col-center text-center">
		    <a class="icon-circle icon-circle-outline" style="color: #33cd5f !important">
	          <i class="ion-network"></i>
	        </a>
	        	<br>
	       broad band
		  </div>
		  <div class="col col-center text-center">
		    <a class="icon-circle icon-circle-outline" style="color: #33cd5f !important">
	          <i class="ion-ios-telephone-outline"></i>
	        </a>
	       <br>
	       land line 
		  </div>
		  <div class="col col-center text-center">
		    <a class="icon-circle icon-circle-outline" style="color: #33cd5f !important">
	          <i class="ion-ios-bolt"></i>
	        </a>
	        <br>
	       electricity
		  </div>
		</div>
         
 </ion-content>
</ion-view>
