<ion-view view-title="Recharge">
 <ion-content >
      
<div >
    <div id="leftline"><div class="col col-center text-center" ng-click="redirectToRechargeMobile()" >
        <a class="icon-circle icon-circle-outline icon-circle-large" style="color: #33cd5f !important">
            <i class="ion-iphone"></i>
          </a>
           
         <br>
         </div>

        <div class="col col-center text-center" style="">
            +91-8802919545
      </div>
      <div class="col col-center text-center" style="">
            Airtel
      </div>

    </div>  
    <div id="rightline">
      <div class="col col-center text-center" style=" height: 175px;width: 175px; background-color: powderblue;border-radius: 10px;padding-top: 75px;" ng-click="redirectToRechargeMobile()" >
        100 Rs.
      </div>
      </div> 
</div>

 <div class="list" style="">
<div class="col col-center text-center" style="">
    
      
      <button class="button icon-right button-positive" ng-click="redirectToRechargeConfirmDetails()">Recharge</button>
    </div>
  </div>
 </ion-content>
</ion-view>




