<ion-view view-title="Send and Receive Bitcoins">
    <ion-pane>
        <ion-tabs class="tabs-striped tabs-top ">
            <!-- Tab 1 -->
      <ion-tab title="Contacts" class="tab-item "  href="">
       
        <ion-nav-view name="tab-tab1">
        <ion-content>
          <div class="list">
            <div class="col col-center text-center" >
              <div class="list list-inset" >
                  <label class="item item-input">
                    <input  type="text" placeholder="Search Contacts">
                  </label>
              </div>
            </div>
          </div>
          </ion-content>
          </ion-nav-view>
        </ion-tab>
            <!-- Tab 2 -->
    <ion-tab title="Send to Bitcoin Addr." href="">
    <ion-nav-view name="tab-tab2">
     <ion-content>
           <div class="list">
      
      
    <div class="col col-center text-center" >
      <div class="list list-inset" >
          <label class="item item-input">
            <input  type="text" placeholder="Search Bitcoin Address">
          </label>
      </div>
          </div>
    
    </div>
    
    
    
          </ion-content>  </ion-nav-view>
    </ion-tab>
    <!-- Tab 3 -->
    <ion-tab title="Receive  Bitcoins" href="">
        <ion-nav-view name="tab-tab2">
     <ion-content>
           <div class="list">
      
    <div class="col col-center text-center" >
      <div class="list list-inset" >
          <label class="item item-input">
            <input  type="text" placeholder="Search Bitcoin Address">
          </label>
        </div>
      
    </div>
    
    
    </div>
          </ion-content>  </ion-nav-view>
    </ion-tab>
  </ion-tabs>

    </ion-pane>
</ion-view>