<ion-view view-title="Trade Bitcoins" style=" background-color: #4dc247;">
    <ion-pane>
        <ion-tabs class="tabs-striped tabs-top " tabs-swipable>
            <!-- Tab 1 -->
      <ion-tab title="bid(buy)" class=" "  href="">
       
        <ion-nav-view name="tab-tab1">
        <ion-content>
           <div class="list">
      <div class="row" >
       
        <div class="col col-center text-center">
          buy 1 Bitcoin = 95,000 Rs.
        </div>
        <div class=" col-center text-center">
          |
        </div>
        <div class="col col-center text-center">
          sell 1 Bitcoin = 94,000 Rs.
        </div>
      </div>
      <div class="row" >
        <div class="col col-center text-center">
         BTC balance
        </div>
      </div>
      <div class="row" >
        <div class="col col-center text-center">
         0.000001 BitCoin
        </div>
      </div>
      <div class="row" >
        <div class="col col-center text-center">
        <button class="button button-small icon ion-android-sync  icon-right  button-calm" ng-click="showPlaceBid()" > Place Bid</button>
        </div>
      </div>
    <div class="col col-center text-center" ng-show="showPlaceBidForm" style="padding-left: 5%;padding-right: 5%;">
      <div class="list list-inset" >
          <label class="item item-input">
            <input  type="text" ng-model="buyBid.rate" placeholder="rate">
          </label>
        </div>
        <div class="list list-inset" >
          <label class="item item-input">
            <input  type="text"  ng-model="buyBid.amount" placeholder="amount">
          </label>
        </div>
        <div class="list list-inset" >
          <label class="item item-input">
            <input  type="text"  ng-model="buyBid.quantity" placeholder="quantity">
          </label>
        </div>
      <div class="col col-center text-center">
        <button class="button button-small icon ion-android-sync  icon-right  button-calm" ng-click="confirmBid()"> Confirm Bid</button>
      </div>
      
    

    </div>

    <div class="row" >
        <div class="col col-center text-center">
          pending orders
        </div>
      </div>
      <div class="row" >
        <div class="col col-center text-center">
          bid: 0 Rs. | ask: 0.0000000 Bit Coins
        </div>
      </div>
  <ion-refresher on-refresh="doRefreshBid()">
  </ion-refresher>
  <div class="card" ng-repeat="activity in currentUserBiddingDetails" style="padding: 0px;border-radius: 2%;border-radius: 30px;padding-bottom: 0px;">
      <div class="item item-text-wrap" style="padding: 0px;margin-top: 0px;padding-top: 2px;padding-bottom: 0px;">
        <a class="item item-avatar" href="" style="min-height: 45px;padding-top: 2px;padding-bottom: 0px;top: 0px;">
        <img ng-src="{{activity.imageUrl}}" alt="IMG" style="top: 1px;">
        <p style="float: right;font-size: 11px;">{{activity.totalPrice}} Rs.</p>
    
        <p style="font-size: 14px;">Bid rate: {{activity.askRate}} Rs.</p>
        <p style="float: right;font-size: 11px;">{{activity.activityTime}}</p>
        <p style="font-size: 11px;">Quantity: {{activity.quantity}} B</p>
        </a>
      </div>
    </div>
    </div>
          </ion-content>
          </ion-nav-view>
        </ion-tab>
            <!-- Tab 2 -->
    <ion-tab title="ask(sell)" href="">
     <ion-nav-view name="tab-tab2">
     <ion-content>
           <div class="list">
      <div class="row" >
        
        <div class="col col-center text-center">
          buy 1 Bitcoin = 95,000 Rs.
        </div>
        <div class=" col-center text-center">
          |
        </div>
        <div class="col col-center text-center">
          sell 1 Bitcoin = 94,000 Rs.
        </div>
      
      </div>
      <div class="row" >
        <div class="col col-center text-center">
         BTC balance
        </div>
      </div>
      <div class="row" >
        <div class="col col-center text-center">
         0.000001 BitCoin
        </div>
      </div>
      <div class="row" >
        <div class="col col-center text-center">
        <button class="button button-small icon ion-android-sync  icon-right  button-calm" ng-click="showAskSell()" > Place ask</button>
        </div>
      </div>
    <div class="col col-center text-center" ng-show="showPlaceAskSellForm"  style="padding-left: 5%;padding-right: 5%;">
      <div class="list list-inset" >
          <label class="item item-input">
            <input  type="text"  ng-model="sellBid.rate"     placeholder="rate">
          </label>
        </div>
        <div class="list list-inset" >
          <label class="item item-input">
            <input  type="text" ng-model="sellBid.amount" placeholder="amount">
          </label>
        </div>
        <div class="list list-inset" >
          <label class="item item-input">
            <input  type="text" ng-model="sellBid.quantity" placeholder="quantity">
          </label>
        </div>
      <div class="col col-center text-center">
        <button class="button button-small icon ion-android-sync  icon-right  button-calm" ng-click="confirmSell()"> Confirm ask</button>
      </div>
      
    </div>
    <div class="row" >
        <div class="col col-center text-center">
          pending orders
        </div>
      </div>
      <div class="row" >
       
        <div class="col col-center text-center">
          bid: 0 Rs. | ask: 0.0000000 Bit Coins
        </div>
      </div>
        <ion-refresher on-refresh="doRefreshAsk()">
  </ion-refresher>
      <div class="card" ng-repeat="activity in currentUserAskdingDetails" style="padding: 0px;border-radius: 2%;border-radius: 30px;padding-bottom: 0px;">
      <div class="item item-text-wrap" style="padding: 0px;margin-top: 0px;padding-top: 2px;padding-bottom: 0px;">
        <a class="item item-avatar" href="" style="min-height: 45px;padding-top: 2px;padding-bottom: 0px;top: 0px;">
        <img ng-src="{{activity.imageUrl}}" alt="IMG" style="top: 1px;">
        <p style="float: right;font-size: 11px;">{{activity.totalPrice}} Rs.</p>
    
        <p style="font-size: 14px;">Ask rate: {{activity.askRate}} Rs.</p>
        <p style="float: right;font-size: 11px;">{{activity.activityTime}}</p>
        <p style="font-size: 11px;">Quantity: {{activity.quantity}} B</p>
        </a>
      </div>
    </div>
    
    </div>
    
      </ion-content>  
      </ion-nav-view>
    </ion-tab>
  </ion-tabs>

    </ion-pane>
</ion-view>